/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Hubballi&family=Poppins:wght@500;600;700;800&family=Sansita+Swashed:wght@890&family=Stick+No+Bills:wght@200;400&family=Syne+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&family=Grape+Nuts&family=Hubballi&family=Poppins:wght@500&family=Sansita+Swashed:wght@890&family=Stick+No+Bills:wght@200;400&display=swap');



*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section,
span
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 auto;
}
.header{
    /* background-image: url(menu.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}

ul{
    display: flex;
}
li{
    margin-left: 30px;
    transition: 0.5s;
    
}
li:first-child{
    margin-right: 15x;
}
a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.header-text{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h1{
    font-size: 8rem;
    font-weight: 100;
    line-height: 0.5;
    letter-spacing: 2px;
    font-family: 'Grape Nuts', cursive;
    color: white;
    margin-bottom: 15px;
    transition: all ease-in-out;
    transition: 0.5s;
}
.ilk-harf{
    font-size: 11rem;
    font-family: 'Grape Nuts', cursive;
}

img{
    background-color: white;
    border-radius: 15px;
}

.buton{
    display: block;
    background-color:black;
    color: white;
    padding: 7px 10px;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    padding: 1rem;
}

.buton:hover{
    color: black;
    background-color: white;
    transform: scale(1.2);
}

.header-text h1:hover{
    color: black;
}

li:hover{
    transform:scale(1.5);
}

#bg-id{
    opacity: 98%;

}

#logo{
    transition: 0.5s;
}
#logo:hover{
    transform:scale(1.2);
}


.yazi{
    padding: 50px;
}

.baslik h1{
    text-align: center;
    font-size: 60px;
    margin: 40px;
    padding: 20px;
    color: black;
    
}

.about-content{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 100px;
}

.resim img {
    width: 500px;
    transition: 0.5s;
}
.resim img:hover{
    transform: scale(1.1);
}
.yazi h4{
    padding: 30px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 10;
    color:black;
    font-family: 'Grape Nuts', cursive;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}

.yazi p {
    text-align: center;
    font-size: 16px;
}

